<form nz-form [formGroup]="formGroup">
  <nz-form-item>
    <nz-form-label nzSpan="8" nzRequired>数据类型</nz-form-label>
    <nz-form-control nzSpan="12">
      <nz-select nzPlaceHolder="请选择需要报警的数据类型" formControlName="dataType">
        <nz-option *ngFor="let type of dataTypes" [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="8" nzRequired>数据标签</nz-form-label>
    <nz-form-control nzSpan="12">
      <nz-select nzMode="tags" formControlName="dataTags" nzPlaceHolder="请输入需要报警数据携带标签"></nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="8" nzRequired>报警方式</nz-form-label>
    <nz-form-control nzSpan="12">
      <nz-select nzPlaceHolder="请选择报警方式" formControlName="mode">
        <nz-option *ngFor="let mode of modes" [nzValue]="mode.value" [nzLabel]="mode.label" [nzDisabled]="mode.disabled"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="8" nzRequired>报警源信息</nz-form-label>
    <nz-form-control nzSpan="12">
      <input nz-input formControlName="target" placeholder="邮箱/WebHook地址">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="8" nzRequired>内容模板</nz-form-label>
    <nz-form-control nzSpan="12">
      <textarea nz-input formControlName="template" placeholder="请输入报警内容模板信息"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzOffset="8" nzSpan="12">
      <button nz-button nzType="primary" (click)="onSubmit()">提 交</button>
    </nz-form-control>
  </nz-form-item>
</form>
