<form [formGroup]="formGroup">
  <ng-template #error let-control>
    <ng-container *ngIf="control.hasError('required')">该项不能为空</ng-container>
    <ng-container *ngIf="control.hasError('type')">文件类型不正确！</ng-container>
  </ng-template>
  <nz-form-item>
    <nz-form-label nzSpan="8" nzRequired>SourceMap</nz-form-label>
    <nz-form-control nzSpan="12" [nzErrorTip]="error" nzExtra="仅支持zip上传">
      <nz-upload [nzFileList]="fileList" [nzFileType]="'application/zip'" (nzChange)="onChangeFile($event)"
                 [nzShowButton]="fileList.length===0" [nzBeforeUpload]="beforeUpload()">
        <button nz-button><i nz-icon nzType="upload"></i>Upload</button>
      </nz-upload>
      <input type="hidden" formControlName="sourceMap">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="8">版本标签</nz-form-label>
    <nz-form-control nzSpan="12" [nzErrorTip]="error">
      <nz-tag *ngFor="let tag of formGroup.get('tags').value; let i = index" nzMode="closeable" (nzOnClose)="onTagClose(tag)">
        {{ tag }}
      </nz-tag>
      <nz-tag *ngIf="!tagVisible" class="editable-tag" nzNoAnimation (click)="showInput()"><i nz-icon nzType="plus"></i>
        New Tag
      </nz-tag>
      <input
        #tagElem
        nz-input
        nzSize="small"
        *ngIf="tagVisible"
        type="text"
        maxlength="20"
        formControlName="newTag"
        style="width: 78px;"
        (blur)="onAddTag()"
        (keydown.enter)="onAddTag()"
      />
    </nz-form-control>
  </nz-form-item>
</form>
