<nz-layout class="btm-layout">
  <nz-header class="btm-header">
    <div class="btm-header-left">
      <div class="btm-logo"><span>Y</span><span>E</span><span>Y</span></div>
      <nz-select nzSize="large" [(ngModel)]="currentApp" (ngModelChange)="onChangeApp($event)" nzPlaceHolder="请选择应用">
        <nz-option *ngFor="let option of applications" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
      </nz-select>
    </div>
    <div class="btm-header-right">
      <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      <a nz-dropdown [nzDropdownMenu]="menu">
        {{user.username}}
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="onLogout()">退出登录</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>

  <nz-content class="btm-content-wrapper">
    <nz-sider nzWidth="256px" [nzCollapsed]="true" nzTheme='light'>
      <ul nz-menu nzMode='inline' class="btm-menu">
        <li class="btm-menu-item" nz-menu-item routerLink='/dashboard' nzMatchRouter nzMatchRouterExact><i nz-icon nzType='dashboard'></i></li>
        <li class="btm-menu-item" nz-menu-item routerLink='/appstore' nzMatchRouter><i nz-icon nzType='appstore'></i></li>
        <li class="btm-menu-item" nz-menu-item routerLink='/monitor' nzMatchRouter><i nz-icon nzType='monitor'></i></li>
      </ul>
    </nz-sider>
    <div class='btm-layout-container'>
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
