<nz-layout class="btm-layout">
  <nz-header class="btm-header">
    <div class="btm-header-left">
      <div class="btm-logo"><span>Y</span><span>E</span><span>Y</span></div>
    </div>
    <div class="btm-header-right">
      <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      <a nz-dropdown [nzDropdownMenu]="menu">
        {{user?.username}}
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="onLogout()">退出登录</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-content class="btm-content-wrapper">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
