<section class="action-container">
  <button nz-button nzType="primary" nzGhost (click)="onAddAction()">新 增</button>
</section>
<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listData"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
  <tr>
    <th
      [(nzChecked)]="checked"
      [nzIndeterminate]="indeterminate"
      (nzCheckedChange)="onAllChecked($event)"
    ></th>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of rowSelectionTable.data">
    <td [nzChecked]="checkeds.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
    <td>{{ data.name }}</td>
    <td>{{ data.age }}</td>
    <td>{{ data.address }}</td>
  </tr>
  </tbody>
</nz-table>
<nz-drawer
  [nzMaskClosable]="false"
  [nzVisible]="visible"
  nzWidth="45%"
  nzPlacement="right"
  nzTitle="添加报警"
  (nzOnClose)="close()">
  <app-alarm-form></app-alarm-form>
</nz-drawer>
