.btm-page-header {
  border-left: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  background-color: #fff;
}

.editable-tag {
  background: rgb(255, 255, 255);
  border-style: dashed;
}

nz-card {
  margin: 0 -24px -1px -24px;
}
